.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6% 5%;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 3px 2px var(--primary_Clr);
  z-index: 4;
  height: 75px;
  background: transparent;
  transition: 0.1s ease-in-out;
}

.logo {
  font-size: 2.1rem;
  color: var(--primary_Clr);
}

.nav_menu {
  flex: 1;
  text-align: end;

  ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 25px;
    font-size: 1.1rem;

    a {
      text-decoration: none;
      color: var(--text_Clr);
    }
  }
}

.nav_menu ul li::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary_Clr);
  display: block;
  transition: 0.5s ease-in-out;
}

.nav_menu ul li:hover::after {
  width: 100%;
}

.nav_menu ul li a:active {
  color: var(--primary_Clr);
}

.icon_btn_wripper {
  padding-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .icon_wripper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .cart_count {
      width: 20px;
      height: 20px;
      background: var(--primary_Clr);
      position: absolute;
      top: -6px;
      right: -7px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  .icon {
    font-size: 1.7rem;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

/* !Nav one for the Navbackground color  */

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 3px 2px black;
  z-index: 4;
  height: 75px;
  background: #34b970;
  transition: 0.1s ease-in-out;

  .logo {
    color: #fff;
  }

  ul li a {
    color: #fff;
  }

  .icon {
    color: #fff;
  }
}

/* !Responsive Design Media Qures  */

@media screen and (max-width: 767px) {
  .nav_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 85vh;
    /* background: #34b970; */
    text-align: center;
    padding: 2rem 1.4rem 2rem 1.4rem;
  }
  .nav_menu ul li {
    display: none;
    padding: 1.4rem 0px;
    font-size: 1.5rem;
  }
}
