@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tw_btn {
    @apply rounded-2xl shadow-2 px-8 py-2 text-base text-white shadow-lg;
  }
  .tw_input {
    @apply inline-block w-full py-2 mr-5 border-b-[2px] outline-none focus:border-blue-500 focus:py-5 transition-all duration-300;
  }
}

:root {
  font-family: "Roboto", sans-serif;
  color: #303841;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #243073, #fff);
  height: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, green, white, #243073);
}
