:root {
  --delete_Btn: #e70c40;
  --add_Btn: #035a75;
}

.main_wripper {
  width: 500px;
  padding: 2rem 1.4rem;
  background: #fff;
  border-radius: 10px;
  margin: 8rem auto;
}

.add_wripper {
  margin-bottom: 1.4rem;
}

.title {
  text-align: center;
  font-size: 2.3rem;
  color: var(--add_Btn);
  text-decoration: underline;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.input {
  width: 70%;
  height: 8vh;
  border: 3px solid var(--add_Btn);
  outline: none;
  border-radius: 10px;
  padding-left: 1.2rem;
  font-size: 1.2rem;
}

.add_btn {
  padding: 8px 10px;
  font-size: 1.3rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: 2px solid transparent;
  background: var(--add_Btn);
  color: #fff;
  cursor: progress;
}

.list {
  padding: 1.2rem 4rem 1.2rem 1.3rem;
  background: var(--add_Btn);
  border-radius: 5px;
  list-style-type: none;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.delete_btn {
  padding: 8px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  background: var(--delete_Btn);
  color: #fff;
  position: absolute;
  right: 5px;
  top: 11px;
}
.change_color {
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1.1rem;
}
